---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Ad consequat curabitur adipiscing pretium.
        <br />
        Aliquam aptent iaculis sit per:
      </p>
      <ul class="list-disc list-inside">
        <li>Vitae</li>
        <li>Hendrerit</li>
        <li>Montes</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Conubia conubia
      arcu lacus duis sed sed. Dignissim rhoncus placerat urna varius ante
      montes. Nulla dui ullamcorper adipiscing curabitur natoque sodales.
    </p>
    <p class="text-sm font-light">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Laoreet rhoncus
      dictum pellentesque donec potenti. Montes venenatis lacinia maecenas
      laoreet condimentum.
    </p>
  </div>
</Card>
